[mysqld]
character_set_server   = utf8mb4
collation_server       = utf8mb4_unicode_ci
init-connect = 'SET NAMES utf8mb4 COLLATE utf8mb4_unicode_ci'

# bind-address		= 127.0.0.1
bind-address		= 0.0.0.0

tmpdir              = /dev/shm

log_error = /var/log/mysql/error.log
slow_query_log		= 1
slow_query_log_file	= /var/log/mysql/mysql-slow.log

innodb_buffer_pool_size = 1024M
max_heap_table_size = 256M
bulk_insert_buffer_size = 2M
myisam_sort_buffer_size = 32M

sql_mode=
innodb_flush_method=O_DIRECT
transaction-isolation=READ-COMMITTED
sync_binlog=0
innodb_buffer_pool_instances=29
innodb_log_file_size=3072M
table_open_cache=80392
innodb_strict_mode=OFF
################################
read_rnd_buffer_size=8M

### 02.05.2023
##############
max_allowed_packet	= 16M
thread_stack		= 192K
thread_cache_size   = 512
max_connections     = 200
innodb_flush_log_at_trx_commit = 2
tmp_table_size = 256M

# Cache parameters
query_cache_type    = 1
query_cache_size    = 128M
query_cache_limit   = 16M
key_buffer_size     = 256M
join_buffer_size    = 32M
sort_buffer_size    = 32M

[client]
default-character-set = utf8mb4

[mysql]
default_character_set=utf8mb4
